<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    
    <form action="/about" method="post">
        
        <div class="detail-border">
            <div class="container">

            
            <h1>About Project</h1>
            
        
            <div class="detailbox">
                <img src="detail.png">
    
            <div class="detail">
                <h3>Details</h3>
                <p>Our project is about heart rate mearsuring and sound</p>
                  <p>using MAX30102 heart rate sensor and ESP8266 microcontroller</p>   
                </p>
            </div>
            </div>
        </div>
    </div>
   
    
    <div class="member-border">
        
            <h1>Our Team</h1>
        
        
        <div class="seperate">
            <div class="decorate">
                <img src="4.png">
            </div>
            <div class="memberbox">
                <div class="member-row1">
                    <div class="eachmember">
                        <img src="human.png">
                        <div class="namebox">
                        <label>65010086</label>
                        <p>Kirana A.</p>
                        </div>
                    </div>    
                    <div class="eachmember">
                        <img src="human.png">
                        <div class="namebox">
                        <label>65010145</label>
                        <p>Jiraporn C.</p>
                        </div>
                    </div>
                    <div class="eachmember">
                        <img src="human.png">
                        <div class="namebox">
                        <label>65010152</label>
                        <p>Jeeranan N.</p>
                        </div>
                    </div>
                </div>
                <div class="member-row2">
                    <div class="eachmember">
                        <img src="human.png">
                        <div class="namebox">
                            <label>65010156</label>
                            <p>Jutawan R.</p>
                        </div>
                    </div>
                    <div class="eachmember">
                        <img src="human.png">
                        <div class="namebox">
                        <label>65010204</label>
                        <p>Chatchaya S.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decorate">
                <img src="3.png">
            </div>
        </div>
    </div>
    <div class="contactborder">
        
            <h1>Contact Us</h1>
            <div class="contactbox">
                <p>If you want to know more information about the project</p>
                <p><i class="fa fa-bullhorn" style="font-size:24px"></i> Please contact us!!</p>
                <p>feelmyrhythm@gmail.com</p>
            </div>
            <div class="contactpic">
                <img src="5.png">
            </div>
            <div class="container-2">
                
            </div>
        
    </div>
</form>
</body>
</html>