<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <main>
        <%- include('navbar') %>
        <div class="cont1">
            <div class="welcomeTx">
                <h1>
                    WELCOME !!
                </h1>
                <span>
                    We will help you measured realtime heat rate <br> Are you ready? <br> Please read the instruction.  
                </span>
                <button ><a href="#">View Profile</a></button>
            </div>  
            <img src="https://firebasestorage.googleapis.com/v0/b/teamproject-webheartrate.appspot.com/o/man.png?alt=media&token=a346db89-2427-4073-8871-351524192529" alt="">
        </div>

        <div class="cont2">
            <div class="box1cont2">
                <div class="item1box1">
                    <div class="logodoc">
                        <img src="https://firebasestorage.googleapis.com/v0/b/teamproject-webheartrate.appspot.com/o/doc.png?alt=media&token=aec1b5c2-c8de-47fd-b780-2767f7abfe77" alt="" class="docs">
                    </div>
                    <span class="hdTx">
                        Heart Rate Monitor
                    </span>
                </div>

                <div class="item2box1">
                    <div class="bpmbox">
                        bpm
                    </div>
                    <div class="spo2box">
                        spo2
                    </div>
                </div>
            </div>

            <div class="box2cont2">
                <div class="item1box2">
                    <h3>Instruction</h3>
                    <span>
                        HOW TO USE <br> First, place your finger on the sensor.<br>
                        Second, wait for sen sor processing<br> Last, it's done. Look at the monitor!
                 </span>
                </div>
                <img src="https://firebasestorage.googleapis.com/v0/b/teamproject-webheartrate.appspot.com/o/headphon.png?alt=media&token=e43d988f-8c5f-4dbb-a5ae-b633c85c27b5" alt="" class="headph">
            </div>
        </div>
    </main>
</body>
</html>