<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="login.css">

</head>
<body>
    <form action="/login" method="post">
    <%- include('navbar') %>
        <div class="login-popup">
            <div class="loginpage">
                <div class="welcomeborder">
                    <h1>Welcome!</h1>
                    <p>Please Login first</p>
                </div>
                    <div class="login-pwborder">
                        <h1>Login</h1>
                        <div class="inputborder">
                            <input type="text" required>
                            <label>username</label>
                            <i class="fa-solid fa-person"></i>
                        </div>
                        <div class="inputborder">
                            <input type="password" required>
                            <label>password</label>
                        </div>
                        <a href="#" >Forgot Password ?</a>                        
                        <div class="submitborder">
                            <button type="submit">Login</button></div>
                        <div class="signupbox">
                            <label>Don't have an account ?</label>
                            <a href="#">Signup</a>
                        </div> 
                    </div>        

            </div>
        </div>      
    </form>   
</body>
</html>

