<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="login.css">


</head>
<body>
    <div class="cont">
        <form id=login-form action="/login" method="post">
            
                <div class="login-popup">
                    <div class="loginpage">
                        <div class="welcomeborder" >
                            <h1>Welcome Back!</h1>
                            <p>Please log in, using your <br>personal information<br>  to stay connected.</p>
                        </div>
                            <div class="login-pwborder">
                                <h1>Login</h1>
                                <div class="inputborder">
                                    <input type="text" id="eMail" required>
                                    <label>email</label>
                                </div>
                                <div class="inputborder">
                                    <input type="password" id="passWord" required>
                                    <label>password</label>
                                </div>
                                <label id="fgpassWord" >Forgot Password ?</label>                        
                                <div class="submitborder">
                                    <a href="/homePage"></a><button type="submit" id="submit">Login</button></a>
                                <div class="signupbox">
                                    <label>Don't have an account ?</label>
                                    <a href="/register">Signup</a>
                                </div> 
                            </div>        
        
                    </div>
                </div>      
            </form>
    </div> 
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
        import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore.js";
        import { getAuth, signInWithEmailAndPassword, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";

        const firebaseConfig = {
            apiKey: "AIzaSyAw-wiM0LM3KRCZXJUYfXfWmZObK0o6U0Y",
            authDomain: "feelmyrhythm-test00.firebaseapp.com",
            projectId: "feelmyrhythm-test00",
            storageBucket: "feelmyrhythm-test00.appspot.com",
            messagingSenderId: "57337594654",
            appId: "1:57337594654:web:74fd92c2553960428cff0f",
            measurementId: "G-7G4917TZWB"
        };

        const app = initializeApp(firebaseConfig);
        const db = getFirestore();
        const auth = getAuth(app);


        let email = document.getElementById("eMail");
        let password = document.getElementById("passWord");
        let loginForm = document.getElementById("login-form");
        let forgotPW = document.getElementById("fgpassWord");

        let SignInUser = evt => {
            evt.preventDefault();
            signInWithEmailAndPassword(auth, email.value, password.value)
            .then(async(credentials) => {
            // Signed up 
            var ref = doc(db, "UserAuthList", credentials.user.uid);
            const docSnap = await getDoc(ref);
                if(docSnap.exists()){
                    sessionStorage.setItem("user-info", JSON.stringify({
                        userName: docSnap.data().user,
                        name: docSnap.data().name
                    }))
                    sessionStorage.setItem("user-creds", JSON.stringify(credentials.user));
                    alert("Logging in....");
                    window.location.href = "/home";
                }
            })
            .catch ((error) => {
                console.log(error.code);
                console.log(error.message);
                alert(error.Message);
                // ..
            })
        }

        let ForgotPassword = () => {
            sendPasswordResetEmail(auth, email.value)
            .then(() => {
                alert("Password Reset Link has been sent to your email")
            })
            .catch ((error) => {
                console.log(error.code);
                console.log(error.message);
            })
        }
        loginForm.addEventListener('submit', SignInUser);
        forgotPW.addEventListener('click',ForgotPassword);

      </script>  
</body>
</html>