<% var isAuthenticated = true; %>
<header>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    <navb>
        <ul>
            <div class="navbar-border">
                <div class="nav-logo">
                    <i class="fa-solid fa-heart-pulse"></i>
                    
                </div>
                
                <li><a href ="/home">HOME</a></li>
                <li><a href ="/">PROFILE</a></li>
                <li><a href ="/about">ABOUT US</a></li>
                <div class="search-border" >
                    <div class="searchbox">
                        <input placeholder="Search....." id="searchBar" name="searchBar" type="text">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                  
               </div>
    
                <div class="login-border" >
                <% if (isAuthenticated) { %>
                    <a href="/login">Logout</a>
                <% } else { %>
                    <a href ="/login">Login</a>
                <% } %>
                </div>
                
           
        </ul>
    </navb>
</header>
