<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
        rel="stylesheet" 
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" 
    />
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <form action="/user/registration" method="POST">
      <section id="reg">
          <aside>
              <h1>SIGN UP</h1>
              <form action="">

<<<<<<< HEAD
                  <div class="twinBox">
                      <div class="formGroup">
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247 247">
                              <path d="M123.18,6A56.69,56.69,0,1,1,66.49,62.73,56.75,56.75,0,0,1,123.18,6m0-5a61.69,61.69,0,1,0,61.69,61.69A61.69,61.69,0,0,0,123.18,1Z"/>
                              <path d="M184.94,119.55a16.6,16.6,0,0,1,4.29.55,17.14,17.14,0,0,1,1.88.6c.73.28,1.53.55,2.38.83,4.51,1.52,11.33,3.8,18,11.69,8.48,10.07,14.34,26.45,17.42,48.69l0,.2,0,.18c.07.3,6.3,30-6.42,47-5.31,7.08-13.08,10.91-23.73,11.7H47.18a36.75,36.75,0,0,1-15.25-4.51C22.22,231,17.07,221.37,16.62,208v-.14c0-.68-3.82-68.13,32-85.26,0,0,.43-.2,1.16-.51a24.57,24.57,0,0,1,9.4-1.85,25.42,25.42,0,0,1,14.3,4.41c9.31,6.29,28.14,16.85,49.72,16.85a63.47,63.47,0,0,0,22.54-4.09A126.47,126.47,0,0,0,173,123.54l2.23-1.29a19.33,19.33,0,0,1,9.72-2.7m0-5a24.51,24.51,0,0,0-12.24,3.37l-2.36,1.38A121.44,121.44,0,0,1,144,132.68a58.09,58.09,0,0,1-20.85,3.8c-20,0-37.48-9.61-46.92-16a30.5,30.5,0,0,0-17.1-5.27,29.63,29.63,0,0,0-11.3,2.23c-.88.36-1.39.6-1.39.6-39.37,18.83-34.86,90.1-34.86,90.1C12.87,245.34,47.1,246,47.1,246H199c48.24-3.42,34.86-64.73,34.86-64.73C225.74,122.72,201,119.14,192.9,116a20.38,20.38,0,0,0-2.41-.77,21.83,21.83,0,0,0-5.55-.71Z"
                              />
                          </svg>
                          <input type="text" name="firstName" placeholder="First Name"/>
                      </div>
                      <div class="formGroup">
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247 247">
                              <path d="M123.18,6A56.69,56.69,0,1,1,66.49,62.73,56.75,56.75,0,0,1,123.18,6m0-5a61.69,61.69,0,1,0,61.69,61.69A61.69,61.69,0,0,0,123.18,1Z"/>
                              <path d="M184.94,119.55a16.6,16.6,0,0,1,4.29.55,17.14,17.14,0,0,1,1.88.6c.73.28,1.53.55,2.38.83,4.51,1.52,11.33,3.8,18,11.69,8.48,10.07,14.34,26.45,17.42,48.69l0,.2,0,.18c.07.3,6.3,30-6.42,47-5.31,7.08-13.08,10.91-23.73,11.7H47.18a36.75,36.75,0,0,1-15.25-4.51C22.22,231,17.07,221.37,16.62,208v-.14c0-.68-3.82-68.13,32-85.26,0,0,.43-.2,1.16-.51a24.57,24.57,0,0,1,9.4-1.85,25.42,25.42,0,0,1,14.3,4.41c9.31,6.29,28.14,16.85,49.72,16.85a63.47,63.47,0,0,0,22.54-4.09A126.47,126.47,0,0,0,173,123.54l2.23-1.29a19.33,19.33,0,0,1,9.72-2.7m0-5a24.51,24.51,0,0,0-12.24,3.37l-2.36,1.38A121.44,121.44,0,0,1,144,132.68a58.09,58.09,0,0,1-20.85,3.8c-20,0-37.48-9.61-46.92-16a30.5,30.5,0,0,0-17.1-5.27,29.63,29.63,0,0,0-11.3,2.23c-.88.36-1.39.6-1.39.6-39.37,18.83-34.86,90.1-34.86,90.1C12.87,245.34,47.1,246,47.1,246H199c48.24-3.42,34.86-64.73,34.86-64.73C225.74,122.72,201,119.14,192.9,116a20.38,20.38,0,0,0-2.41-.77,21.83,21.83,0,0,0-5.55-.71Z"
                              />
                          </svg>
                          <input type="text" name="lastName" placeholder="Last name"/>
                      </div>
                  </div>
                  
                  <div class="twinBox2">
                      <div class="formGroup" id="fName">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247 247">
                              <circle cx="123.18" cy="62.73" r="61.69"/>
                              <path 
                                  d="M11.62,208.15s-4.51-71.27,34.86-90.1c0,0,.51-.24,1.39-.6a30.18,30.18,0,0,1,28.4,3C88.9,129,116,143.35,144,132.68a121.44,121.44,0,0,0,26.3-13.38l2.36-1.38a23.68,23.68,0,0,1,17.79-2.66,20.38,20.38,0,0,1,2.41.77c8.1,3.11,32.84,6.69,40.93,65.2,0,0,13.38,61.31-34.86,64.73H47.1S12.87,245.34,11.62,208.15Z"
                              />
                          </svg>
                          <input type="text" name="usrName" placeholder="Username" onchange="fieldValid(event, 'fName')" onkeyup="fieldValid(event, 'fName')"/>
                      </div>
                      <div class="formGroup">
                          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.33 247.33">
                              <path d="M.77,21.15c.25,22.44,7.66,149.22,141,208.7a95.85,95.85,0,0,0,10,3.75c21,6.67,92.86,27.19,94.79-4.38V181.55a19.24,19.24,0,0,0-3.22-10.91c-2.79-4.06-8-8.29-17.58-9.43a26.85,26.85,0,0,0-3.23-.14c-5.14,0-22.62-.32-36.09-5.53a23.32,23.32,0,0,0-21.06,2.1,24.26,24.26,0,0,0-3.85,3.22l-19.38,19.5a5,5,0,0,1-6.08.82C124.51,174.53,86.22,150.32,66,111a5.08,5.08,0,0,1,.86-5.88L90.08,81.33s5.32-7.18,1.57-20.45c-.76-2.68-1.46-5.37-2-8.11C88.17,44.26,85.34,27,85.92,18.92A20.09,20.09,0,0,0,75.47,2.54,21.88,21.88,0,0,0,64.93,0H20.16S8.15.1,2.79,11.35A22.16,22.16,0,0,0,.77,21.15Z"
                              />
                          </svg>
                          <input type="tel" placeholder="Phone Number" />
                      </div>
                  </div>
                  
                  <div class="formGroup" id="eMail">
                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248.66 247.56">
                          <path d="M2.24,90.15V193.4a31.17,31.17,0,0,0,5,17.33c.07.09.13.19.2.29a20.57,20.57,0,0,0,17,8.79H227.62s13.4,0,18.23-14.83a30,30,0,0,0,1.37-9.37V90.15s-48.62,38.07-101.38,72c0,0-15.83,13.57-43.35-.38Z"
                          />
                          <path d="M109.28,144.05s15.07,13.95,32,0l86.27-60.5a49.73,49.73,0,0,0,14.33-15.2c4.36-7.32,7.65-17.28,3.41-27.85a7,7,0,0,0-1-1.68h0a29.27,29.27,0,0,0-23.05-11.23H26S13.64,27.45,5.65,39.71C1.11,46.66,2,56,5.41,63.55A48.64,48.64,0,0,0,19.2,81.11Z"
                          />
                      </svg>
                      <input type="email" name="usrEmail" placeholder="E-mail" onchange="fieldValid(event, 'eMail')" onkeyup="fieldValid(event, 'eMail')"/>
                  </div>
                      <div class="formGroup" id="pass">
                          <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="-0.5 0.5 42 42">
                              <g>
                                  <path class="noFill" fill="none" d="M23.68,28.484c0-1.76-1.42-3.18-3.18-3.18s-3.18,1.42-3.18,3.18c0,1.412,0.91,2.6,2.17,3.02l-1.99,4.98h6
                                      l-1.99-4.98C22.77,31.084,23.68,29.895,23.68,28.484z"/>
                                  <path d="M20.5,6.411c5.98,0,8.67,5.073,9,10.073h5c-0.09-9-4.67-14.903-14-14.983c-9.27-0.09-14,6.983-14,14.983h4.969
                                      C11.729,11.484,14.3,6.411,20.5,6.411z"/>
                                  <path d="M34.5,18.5h-28c-2.41,0-3,0.655-3,2.984v17c0,2.49,0.561,3,3,3h28c2.609,0,3-0.471,3-3v-17
                                      C37.5,19.026,37.04,18.5,34.5,18.5z M23.5,36.484h-6l1.99-4.98c-1.26-0.42-2.17-1.607-2.17-3.02c0-1.76,1.42-3.18,3.18-3.18
                                      s3.18,1.42,3.18,3.18c0,1.41-0.91,2.6-2.17,3.02L23.5,36.484z"/>
                              </g>
                          </svg>
                          <input type="password" name="usrPass" placeholder="Password" onchange="passValid(event, 'pass')" onkeyup="passValid(event, 'pass')"/>
                      </div>
                      <div class="formGroup" id="confPass">
                          <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="-0.5 0.5 42 42">
                              <g>
                                  <path class="noFill" fill="none" d="M23.68,28.484c0-1.76-1.42-3.18-3.18-3.18s-3.18,1.42-3.18,3.18c0,1.412,0.91,2.6,2.17,3.02l-1.99,4.98h6
                                      l-1.99-4.98C22.77,31.084,23.68,29.895,23.68,28.484z"/>
                                  <path d="M20.5,6.411c5.98,0,8.67,5.073,9,10.073h5c-0.09-9-4.67-14.903-14-14.983c-9.27-0.09-14,6.983-14,14.983h4.969
                                      C11.729,11.484,14.3,6.411,20.5,6.411z"/>
                                  <path d="M34.5,18.5h-28c-2.41,0-3,0.655-3,2.984v17c0,2.49,0.561,3,3,3h28c2.609,0,3-0.471,3-3v-17
                                      C37.5,19.026,37.04,18.5,34.5,18.5z M23.5,36.484h-6l1.99-4.98c-1.26-0.42-2.17-1.607-2.17-3.02c0-1.76,1.42-3.18,3.18-3.18
                                      s3.18,1.42,3.18,3.18c0,1.41-0.91,2.6-2.17,3.02L23.5,36.484z"/>
                              </g>
                          </svg>
                          <input type="password" name="confPass" placeholder="Confirm Password" onchange="passValid(event, 'confPass')" onkeyup="passValid(event, 'confPass')"/>
                      </div>
                      <button type="submit">Create Account</button>
                      <h3>Already Have an Account? <a href="">LOG IN</a></h3>
              </form>
          </aside>
      </section>
      <script>
          const validEmailFormat = (email) => {
              const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              return emailPattern.test(email);
          };
=======
                <div class="twinBox">
                    <div class="formGroup">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247 247">
                            <path d="M123.18,6A56.69,56.69,0,1,1,66.49,62.73,56.75,56.75,0,0,1,123.18,6m0-5a61.69,61.69,0,1,0,61.69,61.69A61.69,61.69,0,0,0,123.18,1Z"/>
                            <path d="M184.94,119.55a16.6,16.6,0,0,1,4.29.55,17.14,17.14,0,0,1,1.88.6c.73.28,1.53.55,2.38.83,4.51,1.52,11.33,3.8,18,11.69,8.48,10.07,14.34,26.45,17.42,48.69l0,.2,0,.18c.07.3,6.3,30-6.42,47-5.31,7.08-13.08,10.91-23.73,11.7H47.18a36.75,36.75,0,0,1-15.25-4.51C22.22,231,17.07,221.37,16.62,208v-.14c0-.68-3.82-68.13,32-85.26,0,0,.43-.2,1.16-.51a24.57,24.57,0,0,1,9.4-1.85,25.42,25.42,0,0,1,14.3,4.41c9.31,6.29,28.14,16.85,49.72,16.85a63.47,63.47,0,0,0,22.54-4.09A126.47,126.47,0,0,0,173,123.54l2.23-1.29a19.33,19.33,0,0,1,9.72-2.7m0-5a24.51,24.51,0,0,0-12.24,3.37l-2.36,1.38A121.44,121.44,0,0,1,144,132.68a58.09,58.09,0,0,1-20.85,3.8c-20,0-37.48-9.61-46.92-16a30.5,30.5,0,0,0-17.1-5.27,29.63,29.63,0,0,0-11.3,2.23c-.88.36-1.39.6-1.39.6-39.37,18.83-34.86,90.1-34.86,90.1C12.87,245.34,47.1,246,47.1,246H199c48.24-3.42,34.86-64.73,34.86-64.73C225.74,122.72,201,119.14,192.9,116a20.38,20.38,0,0,0-2.41-.77,21.83,21.83,0,0,0-5.55-.71Z"
                            />
                        </svg>
                        <input type="text" name="firstName" placeholder="First Name"/>
                    </div>
                    <div class="formGroup">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247 247">
                            <path d="M123.18,6A56.69,56.69,0,1,1,66.49,62.73,56.75,56.75,0,0,1,123.18,6m0-5a61.69,61.69,0,1,0,61.69,61.69A61.69,61.69,0,0,0,123.18,1Z"/>
                            <path d="M184.94,119.55a16.6,16.6,0,0,1,4.29.55,17.14,17.14,0,0,1,1.88.6c.73.28,1.53.55,2.38.83,4.51,1.52,11.33,3.8,18,11.69,8.48,10.07,14.34,26.45,17.42,48.69l0,.2,0,.18c.07.3,6.3,30-6.42,47-5.31,7.08-13.08,10.91-23.73,11.7H47.18a36.75,36.75,0,0,1-15.25-4.51C22.22,231,17.07,221.37,16.62,208v-.14c0-.68-3.82-68.13,32-85.26,0,0,.43-.2,1.16-.51a24.57,24.57,0,0,1,9.4-1.85,25.42,25.42,0,0,1,14.3,4.41c9.31,6.29,28.14,16.85,49.72,16.85a63.47,63.47,0,0,0,22.54-4.09A126.47,126.47,0,0,0,173,123.54l2.23-1.29a19.33,19.33,0,0,1,9.72-2.7m0-5a24.51,24.51,0,0,0-12.24,3.37l-2.36,1.38A121.44,121.44,0,0,1,144,132.68a58.09,58.09,0,0,1-20.85,3.8c-20,0-37.48-9.61-46.92-16a30.5,30.5,0,0,0-17.1-5.27,29.63,29.63,0,0,0-11.3,2.23c-.88.36-1.39.6-1.39.6-39.37,18.83-34.86,90.1-34.86,90.1C12.87,245.34,47.1,246,47.1,246H199c48.24-3.42,34.86-64.73,34.86-64.73C225.74,122.72,201,119.14,192.9,116a20.38,20.38,0,0,0-2.41-.77,21.83,21.83,0,0,0-5.55-.71Z"
                            />
                        </svg>
                        <input type="text" name="lastName" placeholder="Last name"/>
                    </div>
                </div>
                
                <div class="twinBox2">
                    <div class="formGroup" id="fName">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247 247">
                            <circle cx="123.18" cy="62.73" r="61.69"/>
                            <path 
                                d="M11.62,208.15s-4.51-71.27,34.86-90.1c0,0,.51-.24,1.39-.6a30.18,30.18,0,0,1,28.4,3C88.9,129,116,143.35,144,132.68a121.44,121.44,0,0,0,26.3-13.38l2.36-1.38a23.68,23.68,0,0,1,17.79-2.66,20.38,20.38,0,0,1,2.41.77c8.1,3.11,32.84,6.69,40.93,65.2,0,0,13.38,61.31-34.86,64.73H47.1S12.87,245.34,11.62,208.15Z"
                            />
                        </svg>
                        <input type="text" name="usrName" placeholder="Username" onchange="fieldValid(event, 'fName')" onkeyup="fieldValid(event, 'fName')"/>
                    </div>
                    <div class="formGroup">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.33 247.33">
                            <path d="M.77,21.15c.25,22.44,7.66,149.22,141,208.7a95.85,95.85,0,0,0,10,3.75c21,6.67,92.86,27.19,94.79-4.38V181.55a19.24,19.24,0,0,0-3.22-10.91c-2.79-4.06-8-8.29-17.58-9.43a26.85,26.85,0,0,0-3.23-.14c-5.14,0-22.62-.32-36.09-5.53a23.32,23.32,0,0,0-21.06,2.1,24.26,24.26,0,0,0-3.85,3.22l-19.38,19.5a5,5,0,0,1-6.08.82C124.51,174.53,86.22,150.32,66,111a5.08,5.08,0,0,1,.86-5.88L90.08,81.33s5.32-7.18,1.57-20.45c-.76-2.68-1.46-5.37-2-8.11C88.17,44.26,85.34,27,85.92,18.92A20.09,20.09,0,0,0,75.47,2.54,21.88,21.88,0,0,0,64.93,0H20.16S8.15.1,2.79,11.35A22.16,22.16,0,0,0,.77,21.15Z"
                            />
                        </svg>
                        <input type="tel" placeholder="Phone Number" />
                    </div>
                </div>
                
                <div class="formGroup" id="eMail">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248.66 247.56">
                        <path d="M2.24,90.15V193.4a31.17,31.17,0,0,0,5,17.33c.07.09.13.19.2.29a20.57,20.57,0,0,0,17,8.79H227.62s13.4,0,18.23-14.83a30,30,0,0,0,1.37-9.37V90.15s-48.62,38.07-101.38,72c0,0-15.83,13.57-43.35-.38Z"
                        />
                        <path d="M109.28,144.05s15.07,13.95,32,0l86.27-60.5a49.73,49.73,0,0,0,14.33-15.2c4.36-7.32,7.65-17.28,3.41-27.85a7,7,0,0,0-1-1.68h0a29.27,29.27,0,0,0-23.05-11.23H26S13.64,27.45,5.65,39.71C1.11,46.66,2,56,5.41,63.55A48.64,48.64,0,0,0,19.2,81.11Z"
                        />
                    </svg>
                    <input type="email" name="usrEmail" placeholder="E-mail" onchange="fieldValid(event, 'eMail')" onkeyup="fieldValid(event, 'eMail')"/>
                </div>
                    <div class="formGroup" id="pass">
                        <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="-0.5 0.5 42 42">
                            <g>
                                <path class="noFill" fill="none" d="M23.68,28.484c0-1.76-1.42-3.18-3.18-3.18s-3.18,1.42-3.18,3.18c0,1.412,0.91,2.6,2.17,3.02l-1.99,4.98h6
                                    l-1.99-4.98C22.77,31.084,23.68,29.895,23.68,28.484z"/>
                                <path d="M20.5,6.411c5.98,0,8.67,5.073,9,10.073h5c-0.09-9-4.67-14.903-14-14.983c-9.27-0.09-14,6.983-14,14.983h4.969
                                    C11.729,11.484,14.3,6.411,20.5,6.411z"/>
                                <path d="M34.5,18.5h-28c-2.41,0-3,0.655-3,2.984v17c0,2.49,0.561,3,3,3h28c2.609,0,3-0.471,3-3v-17
                                    C37.5,19.026,37.04,18.5,34.5,18.5z M23.5,36.484h-6l1.99-4.98c-1.26-0.42-2.17-1.607-2.17-3.02c0-1.76,1.42-3.18,3.18-3.18
                                    s3.18,1.42,3.18,3.18c0,1.41-0.91,2.6-2.17,3.02L23.5,36.484z"/>
                            </g>
                        </svg>
                        <input type="password" name="usrPass" placeholder="Password" onchange="passValid(event, 'pass')" onkeyup="passValid(event, 'pass')"/>
                    </div>
                    <div class="formGroup" id="confPass">
                        <svg version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="-0.5 0.5 42 42">
                            <g>
                                <path class="noFill" fill="none" d="M23.68,28.484c0-1.76-1.42-3.18-3.18-3.18s-3.18,1.42-3.18,3.18c0,1.412,0.91,2.6,2.17,3.02l-1.99,4.98h6
                                    l-1.99-4.98C22.77,31.084,23.68,29.895,23.68,28.484z"/>
                                <path d="M20.5,6.411c5.98,0,8.67,5.073,9,10.073h5c-0.09-9-4.67-14.903-14-14.983c-9.27-0.09-14,6.983-14,14.983h4.969
                                    C11.729,11.484,14.3,6.411,20.5,6.411z"/>
                                <path d="M34.5,18.5h-28c-2.41,0-3,0.655-3,2.984v17c0,2.49,0.561,3,3,3h28c2.609,0,3-0.471,3-3v-17
                                    C37.5,19.026,37.04,18.5,34.5,18.5z M23.5,36.484h-6l1.99-4.98c-1.26-0.42-2.17-1.607-2.17-3.02c0-1.76,1.42-3.18,3.18-3.18
                                    s3.18,1.42,3.18,3.18c0,1.41-0.91,2.6-2.17,3.02L23.5,36.484z"/>
                            </g>
                        </svg>
                        <input type="password" name="confPass" placeholder="Confirm Password" onchange="passValid(event, 'confPass')" onkeyup="passValid(event, 'confPass')"/>
                    </div>
                    <button type="submit">Create Account</button>
                    <h3>Already Have an Account? <a href="">LOG IN</a></h3>
            </form>
        </aside>
    </section>
    <script>
        const validEmailFormat = (email) => {
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailPattern.test(email);
        };
>>>>>>> af9fcc25fba50cb7196410f96965da9c76b4ea17

          const fieldValid = (event, parentId) => {
              let field = event.target;
              let parentDiv = document.getElementById(parentId);

              if(!field.value) {
                  parentDiv.classList.add("invalid");
                  parentDiv.classList.remove("valid");
                  return false;
              } else {
                  if(field.name == "usrEmail") {
                      if (!validEmailFormat(field.value.trim())) {
                          parentDiv.classList.add("invalid");
                          parentDiv.classList.remove("valid");
                          return false;
                      } else {
                          parentDiv.classList.remove("invalid");
                          parentDiv.classList.add("valid");
                          return true;
                      }
                  } else {
                      parentDiv.classList.remove("invalid");
                      parentDiv.classList.add("valid");
                      return true;
                  }
              }
          };

          const passValid = (event, parentId) => {
              let field = event.target;
              let parentDiv = document.getElementById(parentId);

              if(!field.value) {
                  parentDiv.classList.add("invalid");
                  parentDiv.classList.remove("valid");
                  return false;
              } else {
                  if(document.querySelector('[name = "usrPass"]').value == document.querySelector('[name = "confPass"]').value){
                      document.getElementById("pass").classList.add("valid");
                      document.getElementById("confPass").classList.add("valid");
                      document.getElementById("pass").classList.remove("invalid");
                      document.getElementById("confPass").classList.remove("invalid");
                      return true;
                  } else {
                      document.getElementById("pass").classList.remove("valid");
                      document.getElementById("confPass").classList.remove("valid");
                      document.getElementById("pass").classList.add("invalid");
                      document.getElementById("confPass").classList.add("invalid");
                      return false;
                  }
              }
          };
      </script>
    </form>
</body>
</html>