@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@480&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    list-style: none;
    color: rgb(81, 79, 79);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cont1{
    width: 100%;
    height: 45vh;
    border-radius: 0px 0px 300px 0px;
    background-image: linear-gradient(90deg, rgb(128, 181, 255), rgb(158, 110, 222) 45%, rgb(209, 91, 230) 98%), linear-gradient(90deg, rgba(103, 126, 250, 1), rgba(142, 84, 219, 1) 45%, rgba(199, 84, 219, 1) 98%);
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.cont1 img {
    width: 24rem;
    height: 19rem;
    margin-left: 190px;
    margin-top: 7px;
}

.welcomeTx {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: auto;
    margin-left: 200px;

}

.welcomeTx h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
}

.welcomeTx span {
    margin-bottom: 30px;
    font-size: 14px;
    color: #fff;
}

.welcomeTx button {
    max-width: 100px;
    padding: 8px;
    border-radius: 10px; 
    border: none;
    font-size: 11px;
    margin-left: 130px;
}
/* --------------------------------------------- */

.cont2{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    
}

.box1cont2{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
   
}

.item1box1{
    display: flex;
    flex-direction: row;
}

.item2box1{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-left: 150px;
    margin-top: 5px;
    
}

.bpmbox{
    width: 200px;
    height: 20vh;
    border-radius: 30px;
    background-color:#E2E2F6 ;
}

.spo2box{
    width: 200px;
    height: 20vh;
    border-radius: 30px;
    background-color:#E2E2F6 ;
}



.docs{
    width: 4rem;
    height: 5rem;
    margin-left: 20px;
}

.headph{
    width: 13rem;
    height: 15rem;
    margin-left: 60px;
    margin-top: 40px;
}

.cont2 span{
    font-size: 18px;
    margin-top: 27px;
    margin-left: 30px;
    font-size: 15px;
}

.box2cont2{
    display: flex;
    flex-direction: row;
}

.item1box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.item1box2 h3{
    font-size: 20px;
    margin-left: 13px;
}



